{% extends "base.html" %}

{% block title %}Edit {{ domain.fqdn }}{% endblock %}

{% block content %}
  <div class="mt-6 row justify-content-center">
    <div class="col-sm-12 col-md-6">
      <h1>Edit {{ domain.fqdn }}</h1>

      <div class="mt-4">
        <form action="{{ url_for("domains.edit", domain_id=domain.id) }}" method="post">
          {% include "domains/_form.html" %}

          <div class="mt-4 btn-group">
            <button type="submit" class="btn btn-raised btn-primary">Save</button>
            <a href="{{ url_for("domains.index") }}" class="ml-2 btn btn-secondary">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
