{% extends "base.html" %}

{% block title %}Edit user{% endblock %}

{% block content %}
  <div class="mt-6 row justify-content-center">
    <div class="col-sm-12 col-md-6">
      <h1>Edit user <code>{{ user.email }}</code></h1>

      <div class="mt-4">
        <form action="{{ url_for("users.edit") }}" method="post">
          {% include "users/_form.html" %}

          <div class="mt-4 btn-group">
            <button type="submit" class="btn btn-raised btn-primary">Save</button>
            <a href="{{ url_for("users.profile") }}" class="ml-2 btn btn-secondary">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
