<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a href="{{ url_for("dashboard.index") }}"
         class="navbar-brand text-uppercase"
      >Postfix Mail</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if current_user.is_authenticated %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="{{ url_for("dashboard.index") }}" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for("domains.index") }}" class="nav-link">Domains</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for("mailboxes.index") }}" class="nav-link">Mailboxes</a>
            </li>

            <li class="nav-item dropdown">
              <a href="#"
                 class="nav-link dropdown-toggle"
                 id="navbarDropdown"
                 role="button"
                 data-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="false"
              >Account</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a href="/profile" class="dropdown-item">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for("auth.logout") }}">Logout</a>
              </div>
            </li>
          </ul>
        {% else %}
          <div class="ml-auto">
            <a href="{{ url_for("auth.login") }}" class="btn btn-raised btn-dark">Login</a>
          </div>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
